main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: no-repeat center url("assets/background.jpg");
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 4px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #cddeea;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #035994;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #023559;
}

.container {
    border-radius: 20px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
}

.user-main {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    height: 450px;
}

.card {
    width: 190px;
    height: 170px;
    background: #f5f5f5;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    border-radius: 20px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.card-avatar-male {
    --size: 60px;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

.card-avatar-female {
    --size: 60px;
    background: linear-gradient(to top, #e9c1f1 0%, #cd97fc 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

/*Card footer*/
.card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
}

.card-social__item {
    list-style: none;
}

.card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}

/*Hover*/
.card:hover {
    box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
    transform: translateY(-5%);
}

.card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
}

.card-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
}

.card-avatar:hover {
    transform: scale(1.1);
}

.toggle__main {
    color: white;
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 30px;
}

@media (max-width: 480px) {
    .toggle__main {
        overflow: scroll;
        left: 10px;
        right: 0;
        padding: 0 15px;
        overflow-y: hidden;
        padding: 15px;
    }
}

.toggle__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 3.3em;
}

/* Hide default HTML checkbox */
.switch .chk {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: .5em;
    width: 2.4em;
    border-radius: 5px;
    left: -0.6em;
    top: 0.2em;
    background-color: white;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    transition: .4s;
}

.slider:before,
.slider:after {
    content: "";
    display: block;
}

.slider:after {
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg, rgb(255, 255, 255) 0, rgb(255, 255, 255), rgb(255, 255, 255) 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%, rgb(255, 255, 255) 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #ffffff;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%) rotate(90deg);
    transform-origin: 25% 50%;
    position: relative;
    top: 0.5em;
    left: 0.55em;
    width: 2em;
    height: 1em;
    box-sizing: border-box;
}

.chk:checked+.slider {
    background-color: #035994;
}

.chk:focus+.slider {
    box-shadow: 0 0 1px #035994;
}

.chk:checked+.slider:before {
    transform: translateY(2.3em);
}

.chk:checked+.slider:after {
    transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}
